
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital@0;1&display=swap');

* {
    margin: 0%; 
}

html, body{
    width: 100%;
    height: 100%;
    background-color: black;
}

body {
    color: white;
    font-family: roboto mono, Helvetica, sans-serif;
    font-weight: bold;
}

#top-container {
    border-bottom: 1px solid white;
    padding: 1%;
     font-kerning: 100%;
   /* height: 50px; */
}

#title {
    letter-spacing: 10pt;
}